<app-header> </app-header>

<div class="container">
  <div class="row controls">
    <div class="col-6 col-sm-4 col-md-3">
      <select
        style="width: 100%;"
        class="select"
        [(ngModel)]="countrySelected"
        (ngModelChange)="onChange()"
      >
        <option [value]="country.param" *ngFor="let country of countries">
          <span> {{ country.name }} </span>
        </option>
      </select>
    </div>
    <div class="col-6 col-sm-4 col-md-3">
      <select
        style="width: 100%;"
        class="select"
        [(ngModel)]="categorySelected"
        (ngModelChange)="onChange()"
      >
        <option [value]="category.param" *ngFor="let category of categories">
          {{ category.name | titlecase }}
        </option>
      </select>
    </div>
  </div>

  <app-list-news [articles]="articles"></app-list-news>
</div>
