$light: #999999;

.container {
  margin-top: 32px;
}

.select {
  height: 48px;
  border-radius: 4px;
  border: solid 1px $light;
  color: $light;
  padding-left: 8px;
  padding-right: 8px;
}
.controls {
  margin-bottom: 16px;
}
