<div class="auth_main">
  <div class="box-container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Registro</mat-card-title>
      </mat-card-header>
      <form class="example-form">
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Correo" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Contraseña" />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input matInput placeholder="Confirmar Contraseña" />
          </mat-form-field>
        </mat-card-content>

        <button mat-stroked-button color="primary" class="btn-block" style="margin-bottom: 16px;">
          Register
        </button>
      </form>
      <a routerLink="/login" class="link" routerLinkActive="active"> Ya tengo cuenta </a>
    </mat-card>
  </div>
</div>
