<div class="auth_main">
  <div class="box-container">
    <mat-card class="example-card">
      <mat-card-header>
        <mat-card-title>Registro</mat-card-title>
      </mat-card-header>
      <form class="example-form" [formGroup]="registerForm" (ngSubmit)="registerEmailPassword()" >
        <mat-card-content>
          <mat-form-field class="example-full-width">
            <input formControlName="email" type="text" matInput placeholder="Correo"  />
          </mat-form-field>

          <mat-form-field class="example-full-width">
            <input formControlName="password" type="password" matInput placeholder="Contraseña" />
          </mat-form-field>

        </mat-card-content>

        <button mat-stroked-button color="primary" class="btn-block" [disabled]="loading" style="margin-bottom: 16px;">
          Registrar
        </button>
      </form>
      <a routerLink="/login" class="link" routerLinkActive="active"> Ya tengo cuenta </a>
    </mat-card>
  </div>
</div>
