/* You can add global styles to this file, and also import other style files */
$bambu: #0c3c4a;
html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

.btn-block {
  width: 100%;
}

.full-width {
  width: 100%;
}

.auth_main {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: $bambu;
  margin: 0px;
  height: 100vh;
  width: 100vw;
}

.box-container {
  border-radius: 2px;
  padding: 20px;
  width: 300px;
}

.link {
  text-decoration: none;

  &:hover {
    text-decoration: underline;
  }
}
