<div class="card" (click)="openArticle(article.url)" >
  <div
  *ngIf="article.urlToImage"
    class="img card-img-top"
    [style]="article.urlToImage | domSanitizer"
  ></div>
  <div
  *ngIf="!article.urlToImage"
    class="img card-img-top"
    [style]="'https://www.samsung.com/etc/designs/smg/global/imgs/support/cont/NO_IMG_600x600.png' | domSanitizer"
  ></div>
  <div class="card-body">
    <p class="card-title"> {{article.title | slice: 0:100}}... </p>
    <p class="card-text card-date">Publicado: {{ article.publishedAt }}</p>
    <p class="card-text card-text-content"> {{article.content | slice: 0:50}} ..... </p>
    <p class="card-text card-text-content">{{ (article.author) ? ('Por: ' + article.author) : '.'}}</p>
  </div>
</div>
